.componente__content{
    display: flex;
    justify-content: center;

}

.conteudoBloco{
    margin-top: 2rem;
    width: 350px;
    height: 275px;
    text-align: center;
    background-color: var(--container-color);
    border: 1px solid rgb(147, 147, 147);
    border-radius: 15px;
    margin: 1.25rem;
    cursor: pointer;
}

.descricaoBlobo{
    text-align: center;
    cursor: pointer;
}

.imgb1{
    margin-top: 0.75rem;
    height: 250px;
}

svg{
    width: 50px;
    margin: 0;
}


@media screen and (max-width: 450px){
    .componente__content{
        display: flex;
        flex-direction: column;  
        margin-right: 6rem;
    }

    .bloco1, .bloco2{
        margin-left: 3px;
        margin-right: 3px;

    }
}